<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>CSS3</string>
	<key>uuid</key>
	<string>91299B2D-8519-48D6-9E50-B4B42B4EDED2</string>
</dict>
</plist>
